
.jumbotron {
	padding-top:15rem;
	 background-color:#B931FC;
    }





#projects{
background-color:#B931FC;	
}

.portfolio {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px; /* Tambahkan margin atas */
        }

        .project {
            text-align: center;
            margin: 20px;
        }

.project img {
            max-width: 100%;
            height: auto; /* Untuk menjaga rasio aspek gambar */
            border: 2px solid #000; /* Garis pinggir untuk membuat gambar terlihat rapi */
            box-shadow: 3px 3px 5px #888; /* Efek bayangan untuk gambar */
        }

        .project h2 {
            margin: 10px 0; /* Memberikan sedikit jarak dari teks di atasnya */
        }

        .project p {
            margin: 10px 0; /* Memberikan sedikit jarak dari teks di atasnya */
        }



.container .row .col-md-6 {
        margin-top: 35px;
      }


.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}